<div class="col-md-8 col-md-offset-2">
  <div class="text-center">
    <h2>Uh-Oh</h2>
    <p>Looks like you've already voted on all the photos we have. <%= link_to "Add a new one?", new_photo_path %></p>
  </div>
