<div class="col-md-8 col-md-offset-2">
  <h1 class="text-center">Can You Bring Your Grandma?</h1>
  <div class="text-center">
    <%= image_tag @photo.image_url(:original), class: "img-responsive" %>
  </div>
</div>

